#intro{
    font-style: italic;
}
header{
    background-color: beige;
    padding: 15px;
    color: red;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav ul  {
    text-align: right;
    column-gap: 20px;
    justify-content: flex-end;
    display: flex;
    list-style: none;

}
li a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
}
main {
    background-color: rgba(27, 60, 109, 0.5);
}
nav a:hover {
    color: #3498db;
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
}

.footer a {
    color: #3498db;
    text-decoration: none;
}
.menu.sobremi {
    border-top: #ffc000 0.3em solid;
}
.menu.experiencia{
    border-top: #b81800 0.3em solid;
}
.menu.idiomas{
    border-top: #00a53c 0.3em solid;
}
.menu.formacion{
    border-top: #9600b4 0.3em solid;
}
.menu.contacto{
    border-top: #b81800 0.3em solid;
}
.menu > span {
    display: block;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;}
.menu:after, .menu > span > span {
    display: block;
    text-align: center;
    border-radius: 0em;
    padding: 2em 0 1.5em;
  }
  
  .menu:after {
    content: attr(data-title);
    width: 100%;
    background: #000;
    color: #fff; 
  }
  
  .menu > span > span {
    width: 120px;
    color: #fff;
  }
  
  .menu.sobremi > span > span {
    background: #ffc000;
  }
  
  .menu.experiencia > span > span {
    background: #00a53c;
  }
  
  .menu.idiomas > span > span {
    background: #b81800;
  }
  
  .menu.formacion > span > span {
      background: #9600b4;
  }
  .menu.contacto > span > span {
    background: #b81800;
}
  
  .menu:hover > span {
      height: 100%; 
  }